.attempts {
  border-left: solid black 1px;
  border-bottom: solid black 1px;
  position: absolute;
  top: 0;
  right: 0;
  height: 1.8em;
  width: 1.8em;
  text-align: center;
}

.attempt {
  display: inline-block;
}

