<div *ngFor="let employment of employmentHistory">
  <span title="{{ (employment.dateEnd - employment.dateStart) / 1000 / 60 / 60 / 24 / 365 | number:'.0-1' }} years">
    <u class="dotted">{{ employment.dateStart | date }} to {{ employment.dateEnd | date }}</u></span>@{{ employment.employer }}

  <ul>
    <li *ngFor="let item of employment.content">{{ item }}</li>
  </ul>

  <div class="float-right">
    <ul>
      <li class="badge badge-pill badge-success badge-accolade"
          *ngFor="let accolade of employment.accolades">
        {{ accolade }}
      </li>
    </ul>
  </div>
</div>
