.btn-player {
  margin: .1em 0;
}

#btn-new-game {
  margin-top: 1em;
}

#add-player {
  display: inline-block;
  width: 87%;
}

#btn-add-player {
  display: inline-block;
  text-align: center;
  height: 2.2em;
  width: 2.2em;
}

