<div class="list-group">

  <div class="text-center">
    <h1>Choose players</h1>
  </div>

  <div class="row justify-content-center" *ngFor="let player of availablePlayers">
    <div class="col-sm-8">
      <button class="list-group-item list-group-item-action btn-player"
              [class.active]="selectedPlayers.includes(player)"
              (click)="selectPlayer(player)">
        {{ player.name }}
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <form (ngSubmit)="addPlayer(newPlayerName); newPlayerForm.resetForm();" #newPlayerForm="ngForm">
        <div class="form-group text-center">
          <label for="addPlayer">New Player</label>
          <input type="text" class="form-control" id="addPlayer" name="playerName" placeholder="new player name" autofocus required
                 [(ngModel)]="newPlayerName">
          <button [disabled]="!newPlayerForm.form.valid" class="btn-add-player">+</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row text-center justify-content-center">
    <div class="col-sm-8">
      <button class="btn btn-primary btn-new-game"
              (click)="startNewGame(selectedPlayers)"
              [disabled]="!selectedPlayers.length"
      >New Game</button>
    </div>
  </div>

</div>
