<h1>Choose players</h1>

<div class="list-group">
  <div class="row justify-content-center" *ngFor="let player of availablePlayers">
    <div class="col-sm-8 col-sm-offset-2">
      <a class="list-group-item list-group-item-action"
         [class.active]="selectedPlayers.includes(player)"
         (click)="selectPlayer(player)">{{ player.name }}</a>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <button class="btn btn-primary btn-new-game" (click)="startNewGame(selectedPlayers)">New Game</button>
</div>
