<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    Humble, contemplative, engineer with 5 years of professional experience writing and maintaining web applications.
  </p>
  <hr class="my-4">
  <code>import self</code>
</div>

<nav>
  <div class="nav nav-tabs">
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="employment">Work History</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="education">Education</a>
    <a class="nav-item nav-link disabled">Links</a>
  </div>
</nav>

<div class="tab-content">
    <router-outlet></router-outlet>
</div>
