<div class="dashboard">
  <div>Attempt: {{ attempt + 1 }}</div>
  <div>Frame: {{ currentFrame + 1 }}</div>
</div>

<div class="scoreboard">
  <div *ngFor="let frame of frames" class="frame" [hidden]="frame.isLastFrame && !frame.visited">
    <div class="attempts">
      <div class="attempt first-attempt">{{ frame.attempts[0] }}</div>
      <div class="attempt second-attempt">{{ frame.attempts[1] }}</div>
    </div>
    <div class="frame-score" [hidden]="!frame.visited || frame.isLastFrame">{{ frame.cumulativeScore }}</div>
  </div>
</div>

<form class="form">
  <div class="form-group" [formGroup]="pinsDownForm">
    <input type="number" class="form-control" #pins formControlName="pinsDown"
           placeholder="number of pins knocked down" id="pinsDown" autofocus>
    <input type="submit" class="form-control" value="Score"
           (click)="onScore(+pins.value)" [disabled]="gameOver || pinsDownForm.invalid">
  </div>
  <div class="alert alert-danger" *ngIf="pinsDown.hasError('min')">Number of pins must be 0-10</div>
  <div class="alert alert-danger" *ngIf="pinsDown.hasError('invalidSum')">Total number of pins per frame cannot exceed 10</div>
</form>
