<div class="row">
  <div class="col-6 text-left">Frame: {{ currentFrame + 1 }}</div>
  <div class="col-6 text-right">Attempt: {{ currentAttempt + 1 }}</div>
  <button class="btn btn-primary" (click)="getFrames()">Get Frames</button>
</div>

<div class="scoreboard">
  <div *ngFor="let frame of frames" class="frame"
       [ngClass]="{'active-frame': frame === activeFrame}"
       [hidden]="frame.isLastFrame">
      <app-subframe [frame]="frame"></app-subframe>
    <div class="frame-score" [hidden]="!frame.visited || frame.isLastFrame">{{ frame.cumulativeScore }}</div>
  </div>
</div>

<form class="form">
  <div class="form-group" [formGroup]="pinsDownForm">
    <input type="number" class="form-control" #pins formControlName="pinsDown"
           placeholder="number of pins knocked down" id="pinsDown" autofocus>
    <input type="submit" class="form-control" value="Score"
           (click)="onScore(+pins.value)" [disabled]="gameOver || pinsDownForm.invalid">
  </div>
  <div class="alert alert-danger" *ngIf="pinsDown.hasError('min')">Number of pins must be 0-10</div>
  <div class="alert alert-danger" *ngIf="pinsDown.hasError('invalidSum')">Total number of pins per frame cannot exceed 10</div>
</form>
