.frame {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 5em;
  margin: .1em;
  padding: .1em;
  border: solid black 1px;
  border-collapse: collapse;
}

.attempts {
  float: right;
  border: solid black 1px;
}

.attempt {
  display: inline-block;
}

.frame-score {
  bottom: 0;
  position: absolute;
  font-size: 1.5em;
  margin-left: .2em;
}

#pinsDown {
  margin: 1em 0;
}

.active-frame {
  background: #e9ecef;
}
