.frame {
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: .1em;
  padding: .1em;
  border: solid black 1px;
  border-collapse: collapse;
}

.attempts {
  float: right;
  border: solid black 1px;
}

.attempt {
  display: inline-block;
}
