<div class="row dashboard">
  <div>Attempt: {{ attempt + 1 }}</div>
  <div>Frame: {{ currentFrame + 1 }}</div>
</div>

<div class="scoreboard">
  <div *ngFor="let frame of frames" class="frame">
    <div class="attempts">
      <div class="attempt first-attempt">{{ frame[0] }}</div>
      <div class="attempt second-attempt">{{ frame[1] }}</div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-group">
    <input type="text" class="form-control" #pinsDown placeholder="Pins knocked down" ngmo>
    <input type="submit" class="form-control" value="Score" (click)="onScore(+pinsDown.value)" [disabled]="gameOver">
  </div>
</div>
