<div class="row">
  <div class="col-6 text-left">Frame: {{ currentFrame + 1 }}</div>
  <div class="col-6 text-right">Attempt: {{ currentAttempt + 1 }}</div>
</div>

<div *ngIf="gameOver">Game Over!</div>

<div *ngFor="let player of players">
    <app-scoreboard [player]="player.player" [frames]="player.frames" [activeFrame]="activeFrame"></app-scoreboard>
</div>

<form class="form">
  <div class="form-group"
       [formGroup]="pinsDownForm">
    <input type="number" class="form-control" placeholder="number of pins knocked down" id="pinsDown" autofocus
           #pins
           formControlName="pinsDown">
    <input type="submit" class="form-control btn-score" value="Score"
           (click)="onScore(+pins.value)"
           [disabled]="gameOver || pinsDownForm.invalid">
  </div>
  <div class="alert alert-danger" *ngIf="pinsDown.hasError('min')">Number of pins must be 0-10</div>
  <div class="alert alert-danger" *ngIf="pinsDown.hasError('invalidSum')">Total number of pins per frame cannot exceed 10</div>
  <div class="alert alert-danger" *ngIf="pinsDown.hasError('invalidType')">Number of pins must be a whole number</div>
</form>
